<h1>Profiles Form Show</h1>
<h3> current_user.id </h3>
<%=  current_user.id %> </br>
<%= @user.inspect %></br>
<%= debug(params) %> </br>
<h2> Once </h2></br>
<%= puts @once %> </br>
<div class="col-6 offset-3 text-center">
  <div class="card card-header">
    <div class="form-group">
      <h2> MEMBER CARD </h2>
    </div>    
  </div>
</div>
<% if user_signed_in? %>
    <% @user = User.find(current_user.id) %>
    <% @user.inspect %>
    <% if !@user.paid? %>
      <h2>PAYMENT</h2>
      <% @once = "1"%>
      <div class="col-6 offset-3 text-center">
        <div class="card card-header">
          <div class="form-group">
            <%= form_tag do %>
              <h2>TEST</h2>
            <% end %>
            
            <div id="paypal-button-container"></div>
            <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=GBP" data-sdk-integration-source="button-factory"></script>
            <script>
              paypal.Buttons({
                  style: {
                      shape: 'pill',
                      color: 'blue',
                      layout: 'vertical',
                      label: 'pay',
                      
                  },
                  createOrder: function(data, actions) {
                      return actions.order.create({
                          purchase_units: [{
                              amount: {
                                  value: '40'
                              }
                          }],
                          "return_url": "https:\\www.bbc.co.uk",
                          "cancel_url": "https:\\www.itv.com"
                      });
                  },
                  onApprove: function(data, actions) {
                      return actions.order.capture().then(function(details) {
                          alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    });
                  },
                  
              }).render('#paypal-button-container');
            </script>
          </div>    
        </div>
      </div>
      <% @user.paid = true %>
      <% @once = "0" %>
      <% @user.save %>
    <% else %>
      <% @once = "1" %>
      <% @user.paid = false %>
    <% end %>
  <% end %>