<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  
    <title>Military Battle Club</title>
    <%= csrf_meta_tags %>
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://js.stripe.com/v3/", type: 'text/javascript' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    # not needed <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
    <%= tag :meta, :name => "stripe-api-key", :content => Stripe.api_key %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fas fa-hiking"></i>
        MilitaryBattleClub
      <% end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to join_path, class: "nav-item nav-link active" do %>
            <span class="sr-only">(current)</span>
            Join
          <% end %>
          <%= link_to new_contact_path, class: "nav-item nav-link active" do %>
            <span class="sr-only">(current)</span>
            Contact Us
          <% end %>
          <% if user_signed_in? %>
            <%= link_to destroy_user_session_path, class: "nav-item nav-link active" do %>
                  <span class="sr-only">(current)</span>
                  Log Out
              <% end %>
          <% else %>
            <%= link_to new_user_session_path, class: "nav-item nav-link active" do %>
              <span class="sr-only">(current)</span>
              Log In
            <% end %>
            <%= link_to new_user_registration_path, class: "nav-item nav-link active" do %>
              <span class="sr-only">(current)</span>
              Join Us
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>
    <div class="container flash-container">
      <div class="row">
        <div class="col-6 offset-3">
          <% flash.each do |type, msg| %>
            <%= content_tag :div, msg, class: "alert alert-#{type}" %>
          <% end %>
        </div>
      </div>
    </div>
    
    <%= yield %>
    
  </body>
</html>
